body {
    font-family: 'Tahoma';
    direction: rtl;
    margin: 0;
    padding: 0;
    background: #eff796;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #6399f8;
    color: rgb(7, 7, 7);
    padding: 15px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a { color: white; text-decoration: none; }

.hero {
    text-align: center;
    padding: 50px 0;
    background: white;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

h2 { text-align: center; margin-top: 40px; }

.box {
    background: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
footer {
    background: #222;
    padding: 15px;
    text-align: center;
    color: white;
}
